# Core functionality - changes here should be rare!
/src/app.py                   @piyasith
/src/backend/database.py      @piyasith
/src/backend/routers/auth.py  @piyasith

# The frontend will need refactored soon to be more object oriented.
/src/static/   @piyasith
